

version: 2
updates:
  - package-ecosystem: "pub" 
    directory: "/" 
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: /
    target-branch: "main"
    reviewers:
      - "Netall0"